# Віртуальне оточення
venv/
.venv/
env/

# Кеш Python
**/__pycache__/
*.pyc

# Локальні бази (якщо раптом завалялася sqlite)
*.sqlite3

# Налаштування редакторів кодів
.vscode/
.idea/

# Файли системи
.DS_Store
Thumbs.db
